Books
<edit-book
  *ngIf="editingBook"
  [editMode]="editingBook.editMode"
  [book]="editingBook.book"
  (cancel)="stopEditingBook()"
></edit-book>
<ul>
  <li>
    <button (click)="addBook()">+</button>
  </li>
  <li *ngFor="let book of books$ | async">
    {{ book.id }}: {{ book.title }}
    <button (click)="editBook(book)">Edit</button>
    <button (click)="deleteBook(book)">-</button>
  </li>
</ul>

Reading entries
<edit-reading-entry
  *ngIf="editingReadingEntry"
  [editMode]="'new'"
  (cancel)="stopEditingReadingEntry()"
></edit-reading-entry>
<ul>
  <li><button (click)="addReadingEntry()">+</button></li>
  <li *ngFor="let entry of readingEntries$ | async">
    {{ entry.id}}: {{ entry.created_at }} {{ entry.book.title }}
  </li>
</ul>