Books
<edit-book
  *ngIf="editingBook"
  [editMode]="editingBook.editMode"
  [book]="editingBook.book"
  (cancel)="stopEditingBook()"
></edit-book>
<ol>
  <li>
    <button (click)="addBook()">+</button>
  </li>
  <li *ngFor="let book of books$ | async">
    {{ book.title }} ({{ book.id }})
    <button (click)="editBook(book)">Edit</button>
    <button (click)="deleteBook(book)">-</button>
  </li>
</ol>

Reading entries
<ol>
  <li><button disabled>+</button></li>
  <li *ngFor="let entry of readingEntries$ | async">{{ entry.created_at }} {{ entry.book.title }} ({{ entry.id}})</li>
</ol>