:host {
  $border-width: 1px;
  $border-left-width: 6px;

  display: block;
  padding: 4px;
  max-width: 400px;
  border: black $border-width solid;
  border-left-width: $border-left-width;
}

h2 {
  margin-top: 0;
  margin-bottom: 4px;
}

.error {
  color: red;
}