/* You can add global styles to this file, and also import other style files */
body {
  font-family: Helvetica;
}

a {
  color: #8c2309;
  text-decoration: none;
}

html, body { height: 100%; }
body {
  margin: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Adapted from https://stackoverflow.com/a/57759753/1945088
.small-icon-button.mat-icon-button {
  width: 32px;
  height: 32px;
  line-height: 32px;

  .mat-icon {
     width: 18px;
     height: 18px;
     line-height: 18px;
     font-size: 18px;
  }
}