<div class="event-card-container" [style.border-left-color]="getColor()">
  <div>
    <div>
      <button class="menu-trigger small-icon-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <a style="cursor: pointer" class="book" (click)="handleClick(row.book.title)" [style.color]="getColor()">
        {{row.book.title}}
      </a>
      <span *ngIf="row.start_place || row.end_place">
        <span *ngIf="row.start_place">{{row.start_place}}</span>
        <span *ngIf="row.start_place && row.end_place">&ndash;</span>
        <span *ngIf="row.end_place">{{row.end_place}}</span>
      </span>
    </div>
    <div *ngIf="row.created_at" class="timestamp">
      {{row.created_at}}
    </div>
  </div>
  <div *ngIf="row.notes">
    {{ row.notes }}
    <!-- <app-long-response-formatter [text]="row.notes">
    </app-long-response-formatter> -->
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="handleEdit()">
    <span>Edit</span>
  </button>
  <button mat-menu-item (click)="handleDelete()">
    <span>Delete</span>
  </button>
</mat-menu>
